* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #4527a0;

}

.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
    
}
.navbar i{
    font-size: 25px;
    cursor: pointer;
}

.navbar h2 {
    color: white;
    font-size: 28px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu   {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
    padding: 25px;
    position: relative;
    text-align: center;
}


.menu a {
    text-decoration: none;
    color: white;
}

ul.sub-menu {
    position: relative;
    left:0px;
    top: 0px;
    width: 100%;   
    background: rgba(69, 39, 160, 1);   
    text-align: center;
    display: none;
    
}
nav.menu > ul > li:hover > ul.sub-menu
.sub-menu a {
    color: black;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}



.sub-menu li {
    border-bottom: 1px solid black;
    list-style: none;
    margin-top: 10px;

}

/*Menu Mobile*/
nav.menu-mobile > ul{
    display: none;
    position: absolute;
    left: 0;
    top:60px;
    background: white;
    width: 100%;
    list-style-type: none;
}

nav.menu-mobile > ul > li{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid black;
    padding: 10px 8px;
}

nav.menu-mobile a{
    text-decoration: none;
    color:#4527a0;
}

.menu-mobile{
    display: none;
    justify-content:flex-end;
}

.menu-mobile > i{
    cursor: pointer;
    font-size: 25px;   
}

ul.submenu-mobile{
    padding:7px 15px;
    list-style-type: none;
}

@media screen and (max-width:768px){
ul.menu {display: none;}
nav.menu-mobile{display: flex;}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
}