* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.center {
    display: flex;
    gap: 10px;
    justify-content: center;
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    /* padding: 0 2%; */
}

html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-image: url(/projeto/assets/Flag_of_the_United_States.svg.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin: 0;
}

img {
    width:10%;
    border: 1px solid;
    border-radius:10px;
}

header{
    height:200px;
    padding:20px 0;
}

.menu{
    padding-top: 20px;
    text-align: right;
}
.menu a{
    text-decoration: none;
    color: black;
}

.homelander{
 display: flex;
 justify-content: end;
    
}

.hover {
    background-image: url("/projeto/assets/the-boys-homelander-antony-starr.jpg");
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hover:hover {
    background-image: url("/projeto/assets/images.jpg");
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 50%; 
    max-width: 90%; 
    margin: 10px;
}

img{
    width: ;
}