*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corPadrao: blue;
    --widthPadrao: 300px;
}

div{
    background-color: var(--corPadrao);
    max-width: var(--widthPadrao);
}