*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    /* flex-direction: row-reverse; */
}

aside{
    order: 2;
    padding: 30px;
    background: #ccc;
}
article{
    order: 1;
    padding: 30px;
    background: gray;
}