*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 500px;   
    overflow: hidden;
    position: relative;
}

header video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}